<mat-grid-list cols="12" rowHeight="1:6">
    <mat-grid-tile style="background-color: lightcyan;">
        <div>
            <button (click)="sideBarAction($event.target.innerText)" mat-raised-button class="sideButtons" color="primary">LIVRARE</button>
            <button (click)="sideBarAction($event.target.innerText)" mat-raised-button class="sideButtons" color="primary">INCARCARE</button>
            <button (click)="sideBarAction($event.target.innerText)" mat-raised-button class="sideButtons" color="primary">Setari</button>
            <button (click)="sideBarAction($event.target.innerText)" mat-raised-button class="sideButtons" color="primary">Autentificare</button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="10">
        <app-table [ttype]="ttype"></app-table>
    </mat-grid-tile>
    <mat-grid-tile style="background-color: lightcyan;"></mat-grid-tile>
</mat-grid-list>
