.custom {
    background-color: gray;
    /* color: #fff !important; */
    width: 200px;
    height: 75px;
    margin: 2em !important;
}

.userlist {
    margin-top: 3em;
    margin-left: 3em;
}

.active {
    background-color: green !important;
}