<div class="userlist">
    <button (click)="setUser($event.target)" mat-raised-button class="custom" color="primary">IRO6295</button>
    <button (click)="setUser($event.target)" mat-raised-button class="custom" color="primary">IRO7247</button>
    <button (click)="setUser($event.target)" mat-raised-button class="custom" color="primary">IRO9335</button>
    <button (click)="setUser($event.target)" mat-raised-button class="custom" color="primary">IRO8133</button>
    <button (click)="setUser($event.target)" mat-raised-button class="custom" color="primary">IRO5015</button>
    <button (click)="setUser($event.target)" mat-raised-button class="custom" color="primary">IRO9008</button>
    <button (click)="setUser($event.target)" mat-raised-button class="custom" color="primary">IRO7233</button>
    <button (click)="setUser($event.target)" mat-raised-button class="custom" color="primary">IRO2617</button>
    <button (click)="setUser($event.target)" mat-raised-button class="custom" color="primary">IRO6139</button>
    <button (click)="setUser($event.target)" mat-raised-button class="custom" color="primary">IRO1874</button>
</div>
