.mat-grid-tile .mat-figure {
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.sideButtons {
    margin-top: 10em !important;
    margin-left: 1em !important;
    width: 10em;
}
