<div class="sidebtn-container">
    <button (click)="sideBarAction($event.target.innerText)" mat-raised-button class="sideButtons" color="primary">LIVRARE</button>
    <button (click)="sideBarAction($event.target.innerText)" mat-raised-button class="sideButtons" color="primary">INCARCARE</button>
    <button (click)="sideBarAction($event.target.innerText)" mat-raised-button class="sideButtons" color="primary">Setari</button>
    <button (click)="sideBarAction($event.target.innerText)" mat-raised-button class="sideButtons" color="primary">Autentificare</button>
</div>