<mat-grid-list cols="12" rowHeight="1:6">
    <mat-grid-tile style="background-color: lightcyan;">

    </mat-grid-tile>
    <mat-grid-tile [colspan]="10">
        <div class="sliders">

            <mat-list>
                <mat-list-item>
                    <mat-slide-toggle [(ngModel)]="checked"> Linia C0</mat-slide-toggle>
                </mat-list-item>

                <mat-list-item>
                    <mat-slide-toggle [(ngModel)]="getC()"> Linia C1</mat-slide-toggle>
                </mat-list-item>

                <mat-list-item>
                    <mat-slide-toggle [(ngModel)]="getC()"> Linia C2</mat-slide-toggle>
                </mat-list-item>

                <mat-list-item>
                    <mat-slide-toggle [(ngModel)]="getC()"> Linia C3</mat-slide-toggle>
                </mat-list-item>

                <mat-list-item>
                    <mat-slide-toggle [(ngModel)]="getC()"> Linia C4</mat-slide-toggle>
                </mat-list-item>

                <mat-list-item>
                    <mat-slide-toggle [(ngModel)]="getC()"> Linia C5</mat-slide-toggle>
                </mat-list-item>

                <mat-list-item>
                    <mat-slide-toggle [(ngModel)]="getC()"> Linia C6</mat-slide-toggle>
                </mat-list-item>

                <mat-list-item>
                    <mat-slide-toggle [(ngModel)]="getC()"> Linia C7</mat-slide-toggle>
                </mat-list-item>

            </mat-list>
        </div>
    </mat-grid-tile>
    <mat-grid-tile style="background-color: lightcyan;"></mat-grid-tile>
</mat-grid-list>
